html, body {
	padding:0;
	margin:0;
	height: 100vh;
	width: 100vw;
	font-family:sans-serif;
	overflow:hidden;
}

.time {
	position:absolute;
	top:0.25em;
	right:0.25em;
}

.highlight {
	background:#888;
	color:#fff;
}

#appbar {
	padding-left:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
	background-color:#eee;
	display:grid;
	grid-template-columns: 2fr 8fr;
	border-bottom:1px solid #aaa;
}

#appbar-left-panel {
	display:grid;
	grid-template-columns: 2fr 8fr;
}

#appbar-right-panel {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 3fr 3fr 2fr;
	column-gap:0.25em;
	text-align:center;
	font-size:smaller;
}

#structure-menu {
	opacity:0.2;
}

[id$="-menu"] {
	cursor:pointer;
}

#databases {
	width: 15em;
}

.table-loader {
	position:fixed;
}
