#app-content {
	display:grid;
	grid-template-columns: 2fr 2px 8fr;
	height:100%;
}

#app-content-resizer {
	cursor:col-resize;
	background-color:#ddd;
}

#app-left-panel {
	padding-top:0.25em;
	display:grid;
	grid-template-rows: 2em 3em 500px minmax(500px, auto);
}

#tables {
	overflow:scroll;
}

#tables div {
	margin-top:0.25em;
}

#table-filter-container {
	position:relative
}

#table-filter-container input {
	position:absolute;
	padding-left:2em;
	box-sizing:border-box;
}

#table-filter-container i {
	position:absolute;
	z-index:100;
	left:1.2em;
	top:0.25em;
}

.icon-table {
	margin-right:0.25em;
}

.table-name {
	cursor:pointer;
}

/* app right panel */
#app-right-panel {
	display:grid;
	grid-template-rows: 2.5em auto;
}

#table-contents {
	width:100%;
	height:100%;
	overflow:scroll;
}

#table-contents thead th {
	position:sticky;
	background-color:#fff;
	top: 0;
}

#table-contents thead th {
	border-bottom:1px solid #e1e1e1;
}

#search-bar {
	width:100%;
	padding:0.25em;
	display:grid;
	grid-template-columns: 0.5fr 2fr 2fr 4fr 0.5fr 1fr;
	column-gap:0.25em;
	background-color:#e8e8e8
}

#column-names,
#operators,
#search-text {
	width:100%;
	box-sizing:border-box;
}

.fk-ref {
	display:none;
	cursor:pointer;
	float:right;
}

i#fwd,
i#back {
	margin-right:0.25em;
	font-size:larger;
	cursor:pointer
}

i#back {
	margin-right:0.25em;
}

.pager-disable,
.stack-disable {
	opacity:0.2;
}

.pager-enable,
.stack-enable {
	opacity:1.0;
}

#footer {
	position:fixed;
	height: 1em;
	width:100%;
	left:0;
	bottom:0;
	background:#fafafa;
	border-top:1px solid #eee;
	display:grid;
	grid-template-columns: 2fr 8fr;
}

#footer-left-panel {
	border-right:1px solid #888;
}

#footer-right-panel {
	padding: 0.1em;
	font-size:smaller;
}

#table-contents table {
	table-layout:fixed;
	border-collapse:collapse;
}

#table-contents td {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#table-contents th {
	border:1px solid #cfcfcf;
	position: relative;
}

.null {
	color:#ddd;
}

#table-contents tbody tr:nth-child(odd) {
   background-color: #eee;
}

.cell, .fk-icon {
	margin-left:2px;
	font-size:larger;
	cursor:pointer;
}

#tables-list {
	display:grid;
	grid-template-columns: 9fr 1fr;
}

#export-table {
	cursor:pointer
}

#grid {
	height:100%;
}

#export-filtered-results,
#prev,
#next {
	margin-left:10px;
	cursor:pointer;
}

#search-text-container {
	position:relative;
}

#clear-filter {
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	display:none;
}
