:root {
	--light-blue: #C8E0FA;
	--dark-blue: #5D8ABA;
	--light-grey: #8B9BAD;
	--main: #268BFA;
	--dark-grey: #626E7A;

	--grey-darker: #141618;
	--grey-dark: #31373d;
	--grey: var(--dark-grey);
	--grey-light: var(--light-grey);
	--grey-lighter: #919aa2;
	--grey-lightest: #eff1f2;
	--blue: var(--main);
}

html, body {
	padding:0;
	margin:0;
	height: 100vh;
	width: 100vw;
	font-family:sans-serif;
	overflow:hidden;
}

body, html {
	overscroll-behavior-x: none;
}

.time {
	position:absolute;
	top:0.25em;
	right:0.25em;
}

.highlight {
	background:#888;
	color:#fff;
	font-weight:bold;
}

#navbar {
	padding-left:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
	display:grid;
	grid-template-columns: 3.5fr 8fr;
}

.contact {
	color:var(--main);
}

.email {
	padding-right:1em;
}

#appbar {
	padding-left:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
	display:grid;
	grid-template-columns: 3.5fr 8fr;
	border-bottom:1px solid #aaa;
}

#appbar-left-panel {
	display:grid;
	grid-template-columns: 1.75fr 8fr;
}

#appbar-left-panel .dropdown {
	cursor:pointer;
}

#dropdown-container {
	padding-left:0.5em;
	display: flex;
	align-items: center; /* align vertical */
}

#connection-container {
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
	font-family: 'Open Sans', sans-serif;
	display:grid;
	grid-template-columns: 3fr 4fr 1fr;
	background-color:var(--dark-blue);
	color:white;
	border-radius:5px;
}

#conn-name {
	display: flex;
	justify-content: center;
	align-items: center; /* align vertical */
	padding-left:0.5em;
	font-weight:bold;
}

#select-container {
	display: flex;
	align-items: center; /* align vertical */
}

#appbar-right-panel {
	display:grid;
	grid-template-columns: 0.5fr 1.25fr 1.25fr 1.25fr 1.25fr 5fr 3fr 2fr;
	column-gap:0.25em;
	text-align:center;
	font-size:smaller;
}

#content-menu,
#query-menu,
#help-menu,
#about-menu {
	cursor:pointer;
	color: var(--dark-blue);
	font-weight:bold;
	font-family:'Open Sans', sans-serif;
	display: flex;
	align-items: center; /* align vertical */
}

#databases {
	width: 15em;
}

.table-loader {
	position:fixed;
}

.fk-cell .value {
	float:left;
	width:80%;
	text-align:right;
}

.fk-cell .icon {
	position:relative;
	float:left;
	width:20%;
}

.fk-icon {
	position:absolute;
	top:40%;
}

#back {
	margin-top:8px;
	margin-left:40px;
	font-size:20px !important;
}
/*cell header*/
.customHeaderLabel {
	float: left;
	margin: 0 0 0 3px;
}

.customSortDownLabel {
	float: left;
	margin: 0 0 0 3px;
}

.customSortUpLabel {
	float: left;
	margin: 0;
}

.customSortRemoveLabel {
	float: left;
	margin: 0 0 0 3px;
	font-size: 11px;
}

.sort-active {
	color: cornflowerblue;
}

#alert {
	display:none;
	position:fixed;
	bottom:20%;
	text-align:center;
	z-index:1000;
}

.ag-cell {
font-family: 'Roboto Mono', monospace;
}

sup {
	font-size:x-small;
}
/* tippy */
.tippy-box {
  background-color: hsl(0, 0%, 29%);
  color: hsl(0, 0%, 21%)
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color:hsl(0, 0%, 29%) 
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color:hsl(0, 0%, 29%)
}
.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color:hsl(0, 0%, 29%)
}
.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color:hsl(0, 0%, 29%)
}

.tooltip pre {
	max-height:300px;
	overflow:auto;
	background-color: hsl(0, 0%, 29%);
	color: hsl(0, 0%, 96%);
}
.card .query-text {
	cursor:pointer;
}

.tooltip > .bottom {
	margin-top:5px;
	border-top:1px solid hsl(0, 0%, 96%);
	padding-top:5px;
}

.tooltip .fa-copy {
	cursor: pointer;
	color: hsl(0, 0%, 96%);
}

.copy-status {
	color: hsl(0, 0%, 96%);
}

.fa-disabled {
	opacity: 0.3;
	cursor: not-allowed !important;
}

.superscript {
	position:relative;
	top: -55.6px;
	left: 290px;
	font-size:xx-small;
}

.logo {
	display: flex;
	align-items: center; /* align vertical */
}

#info {
	border-top:1px solid var(--grey-light);
	font-size:x-small;
	padding:0.2em;
	color:var(--dark-blue);
	font-weight:bold;
}


