sup {
	font-size:x-small;
}

h2, p {
	color: var(--dark-grey);
}

a {
	color: var(--secondary);
}

section {
	font-family: 'Open Sans', sans-serif;
}

#get-started {
	font-weight:bold;
}

.github-link {
    font-size: 0.9em;
    color: var(--dark-blue);
    text-decoration: none;
}

.github-link:hover {
    text-decoration: underline;
}
