#container {
	display:grid;
	grid-template-columns: 2fr 8fr 2fr;
	height:100%;
}

#form-container {
	margin:auto;
	display:grid;
	padding:0.5em;
	background-color:#eee;
	margin-top:2em;
	border-radius:5px;
	row-gap:0.25em;
	position:relative;
}

#form-container input {
	border-radius:5px;
	border:1px solid #ddd;
	font-size:larger;
}

#first-name-container,
#last-name-container,
#email-container,
#image-container,
#captcha-container,
#get-otp-container,
#otp-container {
	display:grid;
	grid-template-columns: 1fr 1fr;
}
