doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/css/app.css")
    body
        include appbar.pug
        include appcontent.pug

        script(type='module' src='/js/app.js')
        script(type="code" id="option-template")
            option(value="{value}") {value}
