#appbar
    #appbar-left-panel
        .select.is-small
            select#databases
    #appbar-right-panel
        div#structure-menu
            div
                i.fas.fa-tools
            div Structure

        div#content-menu
            div
                i.fas.fa-table
            div Content

        div#query-menu
            div
                i.fas.fa-question
            div Query

        //div#full-screen-menu
            //div
                //i.fas.fa-expand
            //div Full Screen

        div#dummy
        div#nav
            i.fas.fa-arrow-circle-left.stack-disable#back
            i.fas.fa-arrow-circle-right.stack-disable#fwd
