#appbar
    #appbar-left-panel
        select#databases
    #appbar-right-panel
        div#structure-menu
            div
                i.icon-table2
            div Structure
        div#content-menu
            div
                i.icon-table2
            div Content
        div#dummy
