#appbar
    #appbar-left-panel
        select#databases
    #appbar-right-panel
        div#structure-menu
            div
                i.icon-table2
            div Structure

        div#content-menu
            div
                i.icon-table2
            div Content

        div#query-menu
            div
                i.icon-terminal
            div Query

        div#dummy
        div#nav
            i.icon-circle-left.stack-disable#back
            i.icon-circle-right.stack-disable#fwd
