#appbar
    #appbar-left-panel
        .select.is-small
            select#databases
    #appbar-right-panel
        div#structure-menu
            div
                i.fas.fa-tools
            div Structure

        div#content-menu
            div
                i.fas.fa-table
            div Content

        div#query-menu
            div
                i.fas.fa-question
            div Query

        div#dummy
        div#nav
            i.icon-circle-left.stack-disable#back
            i.icon-circle-right.stack-disable#fwd
