#app-content
    #app-left-panel-container
        #app-left-panel
            div.field
                p.control.has-icons-left
                    input.input.is-small(type="text" id="table-filter")
                    span.icon.is-small.is-left
                        i.fas.fa-search
            div Tables and Views
            div#tables
            div#table-info Table Info

    #app-content-resizer

    #app-right-panel

    script(type="code" id="table-template")
        div
            i.icon-table 
            span.table-name {table}

    script(type='code' id='results-header-col-template')
        th {heading}

    script(type='code' id='results-body-col-template')
        td
            div.td
                span {value}
                i.fk-ref.icon-new-tab(data-table="{ref-table}" data-column="{ref-column}")

    script(type='code' id='query-container-template')
        #query-sub-menu
            i.fas.fa-paint-roller#format-query
            i.fas.fa-play#run-query
        #query-container
            #query-editor(contenteditable="true")
            #query-container-resizer
            #query-results
                revo-grid.grid-component

    script(type='code' id='table-contents-template')
        #search-bar
            div Search
            div.select.is-small
                select#column-names
            div.select.is-small
                select#operators
            div
                input.input.is-small#search-text(type="text")
            div
                button.button.is-small#search Filter
        #table-contents
            revo-grid.grid-component
