doctype html
html
    head
        include head.pug
    body
		section.section
			h1.is-size-1 Prosql
	            sup pre-alpha	

		section.section
            h2.is-size-4 A simple, intuitive, cross-platform MySQL client that runs right in your browser!

		section.section
			button#get-started.button Get Started!

        script(type='module' src='/js/index.js')

