doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css")
        link(rel='stylesheet', href='/css/styles.css')
    body
		section.section
			h1.is-size-1 Prosql
	            sup pre-alpha	

		section.section
			button#get-started.button Get Started!

        script(type='module' src='/js/index.js')

