doctype html
html
    head
    body
        include navbar.pug
        form
            input(type="text" id="user" placeholder="user")
            input(type="text" id="pass" placeholder="pass")
            input(type="text" id="ip" placeholder="ip")
            input(type="text" id="port" placeholder="port")
            input(type="text" id="db" placeholder="db")

        script(type='module' src='/js/main.js')
