doctype html
html
    head
        include head.pug
    body
        include navbar.pug
        .columns
            .column	
            .column.is-one-third
                section
                    .card.has-background-light
                        header.card-header
                            p.card-header-title.has-text-black-bis
                                | Prosql-agent not detected
                            button.card-header-icon
                                span.icon
                                    i.fas.fa-spinner.fa-spin
                section.instructions
                    section.mt-5
                        .h1.is-size-2 Just one small step ...
                    section
                        p.has-text-justified
                            | Prosql needs a lightweight agent installed on your computer.
                            | It's #[a(href="https://github.com/kargirwar/prosql-agent", target="_blank") open source]
                            | and takes less than a minute to install! Find instructions below for your
                            | operating system.
                    
                    section.mt-5
                        .tabs.is-fullwidth
                            ul
                                li.is-active
                                    a.windows Windows
                                li
                                    a.linux Linux
                                li
                                    a.mac Mac
                                li
                                    a.other Other
                        .container
                            .tab-content.windows
                                include windows.pug
                            .tab-content.linux
                                include linux.pug
                            .tab-content.mac 
                                include mac.pug
                            .tab-content.other 
                                | Instructions for Other
            .column	
        script(type='module' src='/js/install.js')
