doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css")
        link(rel="stylesheet" href="/css/styles.css")
    body
		nav.navbar(role='navigation' aria-label='main navigation')
			.navbar-brand
				a.navbar-item(href='/')
					h1.is-size-3 Prosql
		.columns
	        .column	
	        .column.is-one-third
                section
					.card.has-background-light
						header.card-header
							p.card-header-title.has-text-black-bis
								| Prosql-agent not detected
							button.card-header-icon
								span.icon
									i.icon-wondering.has-text-black-bis
                section.instructions
                    section.mt-5
                        .h1.is-size-2 Just one small step ...
                    section
                        p.has-text-justified
                            | Prosql needs a lightweight agent installed on your computer.
                            | Don't worry, it's fairly simple and straightforward to do that
                            | and takes less than a minute! Find instructions below for your
                            | operating system.
                    
                    section.mt-5
                        .tabs.is-fullwidth
                            ul
                                li.is-active
                                    a.windows Windows
                                li
                                    a.linux Linux
                                li
                                    a.mac Mac
                                li
                                    a.other Other
                        .container
                            .tab-content.windows Instructions for Windows
                            .tab-content.linux Instructions for Linux
                            .tab-content.mac Instructions for Mac
                            .tab-content.other Instructions for Other
			.column	
        script(type='module' src='/js/install.js')
