doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/css/install.css")
    body
        include navbar.pug
        .columns
            .column	
            .column.is-three-fifths
                .columns.is-flex.is-justify-content-center
                    .column.is-three-fifths
                        section
                            .card.has-background-light
                                header.card-header
                                    p.card-header-title.has-text-black-bis
                                        | Prosql-agent not detected
                                    button.card-header-icon
                                        span.icon
                                            i.fas.fa-spinner.fa-spin
                section.instructions
                    section.mt-5
                        .h1.is-size-2 Just one small step ...
                    section
                        p.has-text-justified
                            | Prosql needs a lightweight agent installed on your computer.
                            |  It's #[a(href="https://github.com/kargirwar/prosql-agent", target="_blank") open source ]
                            | and takes less than a minute to install! Find instructions below for your
                            |  operating system. #[br] #[br]
                            | Once installation is successful, this page will automatically redirect.
                    
                    section.mt-5
                        .tabs.is-fullwidth
                            ul
                                li.is-active
                                    a.windows Windows
                                li
                                    a.linux Linux
                                li
                                    a.mac Mac
                                li
                                    a.other Other
                        .container
                            .tab-content.windows.has-text-justified
                                include windows.pug
                            .tab-content.linux.has-text-justified
                                include linux.pug
                            .tab-content.mac.has-text-justified
                                include mac.pug
                            .tab-content.other.has-text-justified
                                include other.pug
            .column	
        script(type='module' src='/js/install.js')
