- var ver = "0.5"
| Download the latest release for linux from 
| #[a(href="https://github.com/kargirwar/prosql-agent/releases/tag/v#{ver}" target="_blank") github].
| Open a terminal. Then do:#[br]
| $unzip prosql-agent-v#{ver}-linux.zip #[br]
| $cd prosql-agent/release/linux #[br]
| $prosqlctl -install #[br]
| You should see something like: #[br]
| Copying agent to /usr/local/bin ... #[br]
| Creating plist ... #[br]
| Starting ... #[br]
| Installed successfully!
