- var ver = "0.5"
- var os = "linux"
| Open a terminal. Then do:#[br]
pre
    | $curl -L https://git.io/#{os}-#{ver} > prosql-agent.zip
    | $unzip prosql-agent.zip
    | $cd prosql-agent/release/#{os} 
    | $sudo prosqlctl -install

| You should see something like: #[br]
pre Copying agent to /usr/local/bin ... 
    | Creating unit ... 
    | Reloading serivces ... 
    | Enabling prosql-agent... 
    | Starting prosql-agent... 
    | Installed successfully!
| #[br]
| To uninstall:
pre
    | $sudo prosqlctl -uninstall
