doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/css/login.css")
    body
        include navbar.pug
        div#login-container.content
            div#login-left-container
                #login-recents-title Recent Connections
                    #conn-list
            div#login-right-container
                div#login-form-container.control
                    div#login-name-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="name") Connection Name
                        .field-body
                            .field
                                input(type="text" id="name" value="" placeholder="Name")

                    div#login-user-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="user") Username
                        .field-body
                            .field
                                input(type="text" id="user" value="" placeholder="User")
                    div#login-pass-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="pass") Password
                        .field-body
                            input(type="password" id="pass" value="" placeholder="Password")
                    div#login-host-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="host") Host
                        .field-body
                            input(type="text" id="host" value="" placeholder="127.0.0.1")
                    div#login-port-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="port") Port
                        .field-body
                            input(type="text" id="port" value="" placeholder="3306")
                    div#login-db-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="db") Database
                        .field-body
                            input(type="text" id="db" value="" placeholder="DB")

                    div#login-default-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="default") Default
                        .field-body
                            input(type="checkbox" id="is-default")


                div#login-btn-container
                    button.button(id="test")
                        span Test connection
                        span.icon.is-small
                            i.test-icon.fas

                    button.button(id="login") Login 

        script(type='module' src='/js/login.js')
        script(type='code' id='conn-template')
            .conn-container.has-text-left
                span
                    i.fas.fa-server
                span.conn(data-id="{id}") &nbsp;&nbsp;{item}
