- var ver = "0.5"
- var os = "mac"
| Open a terminal. Then do:#[br]
pre
    | $curl -L https://git.io/#{os}-#{ver} > prosql-agent.zip
    | $unzip prosql-agent.zip
    | $cd prosql-agent/release/#{os} 
    | $prosqlctl -install
| You should see something like: #[br]
pre
    | Copying agent to /usr/local/bin ... 
    | Creating plist ... 
    | Starting ... 
    | Installed successfully!
| #[br]
| To uninstall:
pre
    | $prosqlctl -uninstall
