doctype html
html
    head
        link(rel='stylesheet', href='/css/styles.css')
    body
        include navbar.pug
        include login.pug
        include app.pug
        
        script(type='module' src='/js/main.js')
