#app-content
    #app-left-panel-container
        #app-left-panel
            div#tables-list
                div Tables and Views
                div 
                    i.fas.fa-file-export#export-table(title="Export selected table contents(Alt+Shift+L)")
            div.field
                p.control.has-icons-left
                    input.input(type="text" id="table-filter" placeholder="Search tables(Alt+Shift+S)")
                    span.icon.is-small.is-left
                        i.fas.fa-search
            div#tables
            div#table-info Table Info

    #app-content-resizer

    #app-right-panel
        #search-bar
            div Search
            div.select.is-small
                select#column-names
            div.select.is-small
                select#operators
            div
                input.input.is-small#search-text(type="text")
            div
                button.button.is-small#search Filter
            div
                i.fas.fa-file-export#export-filtered-results(title="Export filtered results(Alt+Shift+E)")
                i.fas.fa-backward.pager-disable#prev(title="Previous rows(Alt+Shift+P)")
                i.fas.fa-forward#next(title="Next rows(Alt+Shift+N)")
        #table-contents

    script(type="code" id="table-template")
        div
            i.icon-table 
            span.table-name {table}

    script(type="code" id="dropdown-item-template")
        a.dropdown-item(href="#") {item}
