- var ver = "0.5"
| Download the latest release for windows from 
| #[a(href="https://git.io/windows-0.5" target="_blank") github.] #[br]
| Extract contents of the zip file. #[br]
| Open cmd application #[span(class="button is-small is-warning") as Admininstrator]. Navigate to the folder where you extracted
| the zip file. #[br]#[br]
| From cmd console: #[br]
pre 
    | $cd prosql-agent\release\windows
    | $prosqlctl.exe install prosql-agent prosql-agent.exe
    | $prosqlctl.exe set prosql-agent AppDirectory %CD%
    | $prosqlctl.exe start prosql-agent
| #[br]
| If all goes well you should see:
pre prosql-agent: START: The operation completed successfully
| #[br]
| To uninstall:
pre
    | $prosqlctl.exe stop prosql-agent
    | $prosqlctl.exe remove prosql-agent
