- var ver = "0.5"
| Download the latest release for windows from 
| #[a(href="https://git.io/windows-0.5" target="_blank") github.] #[br]
| Extract contents of the zip file. #[br]
| Type "cmd" in the search bar. "Command Prompt" should be listed. Right click
| on "Command Prompt" and select #[span(class="button is-small is-warning") Run as Administrator].#[br]
| Navigate to the folder where you extracted
| the zip file. #[br]
| Usually you will have to type something similar:#[br]
pre 
    | $cd C:\Users\Your Name\Downloads\prosql-agent-v0.5-windows
| Next steps:#[br]
pre 
    | $cd prosql-agent\release\windows
    | $prosqlctl.exe install prosql-agent prosql-agent.exe
    | $prosqlctl.exe set prosql-agent AppDirectory %CD%
    | $prosqlctl.exe start prosql-agent
| #[br]
| If all goes well you should see:
pre prosql-agent: START: The operation completed successfully
| #[br]
| To uninstall:
pre
    | $prosqlctl.exe stop prosql-agent
    | $prosqlctl.exe remove prosql-agent
