doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href=`/${root}/css/pages.css?ver=${version}`)
    body
        include navbar.pug
        .columns
            .column
            .column.is-two-fifths
                section
                    .content
                        .h1.is-size-3 About
                        ul
                            li prosql-agent version:
                                | &nbsp
                                span#agent-version
                                    | &nbsp0.6
                        .h2.is-size-5.is-info#update-notice.is-hidden
                
        script(type='module' src=`/${root}/dist/js/about.js?ver=${version}`)
