#appbar
    #appbar-left-panel
        div
            a(href='/connections')
                i.fas.fa-home
        div#connection-container
            button.button.is-info#conn-btn
                span#conn-name
                select.select.is-small#databases
                span &nbsp;&nbsp;&nbsp;&nbsp;

        .dropdown
            .dropdown-trigger
                i.fas.fa-tools#db-operations(title="Database operations")
            #db-dropdown-menu.dropdown-menu(role='menu')
                .dropdown-content
                    a.db-dropdown-item.dropdown-item#rename-db
                        | Rename database
                    a.db-dropdown-item.dropdown-item#delete-db
                        | Delete database

                
    #appbar-right-panel
        div#content-menu
            div
                i.fas.fa-table
            div Tables

        div#query-menu
            div
                i.fas.fa-edit
            div Queries

        div#help-menu
            div
                i.fas.fa-question
            div Help

        div#about-menu
            div
                i.fas.fa-cog
            div About

        div#dummy
        div#conn
            //span.tag.is-medium.is-info#conn-name
        div#nav
            i.fas.fa-arrow-circle-left.stack-disable#back(title="Back to previous view(Alt+Shift+<")
