#appbar
    #appbar-left-panel
        div
            a(href='/login')
                i.fas.fa-home
        div
            .select.is-small
                select#databases
    #appbar-right-panel
        div#structure-menu
            div
                i.fas.fa-tools
            div Structure

        div#content-menu
            div
                i.fas.fa-table
            div Content

        div#query-menu
            div
                i.fas.fa-question
            div Query

        div#dummy
        div#conn
            span.tag.is-medium.is-info#conn-name
        div#nav
            i.fas.fa-arrow-circle-left.stack-disable#back(title="Back to previous view(Alt+Shift+<")
