.modal#db-renamer-dialog
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.is-size-6
        section.modal-card-body
            .control
                .field-body
                    .field
                        input#new-db-name.input(type="text")
        footer.modal-card-foot
            button.button.is-success.ok OK
            button.button.cancel Cancel
