doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/#{root}/css/pages.css?ver=#{version}")
    body
        include navbar.pug
        .columns
            .column	
            .column.is-two-fifths
                
                section
                    .h1.is-size-3.has-text-justified 
                        |Can I run prosql in multiple tabs?
                    p.has-text-justified
                        |Yes. You can open as many tabs as you want. Each tab can connect to 
                        |a different server.

                section
                    .h1.is-size-3.has-text-justified 
                        |On the tables page, the like search does not seem to work ..
                    p.has-text-justified
                        |Please use wildcard qualifier % before and/or after the search string.

                section
                    .h1.is-size-3.has-text-justified 
                        |I switched to a different browser. Why can't I see my query history ?
                    p.has-text-justified
                        |The queries are saved in indexedDB. indexedDB is browser specific. So you 
                        |cannot see queries saved in other browsers. To get around this, please click
                        |"Export query history" in your old browser. This will download a .json file.
                        |Go to the new browser and click "Import query history" and choose the json file 
                        |created in export. Wait till the import completes. Then refresh the page. 
                        |You should be able to see your queries from your old browser now.

                section
                    .h1.is-size-3.has-text-justified 
                        |I want to use prosql from a different computer. What happens to my query history?
                    p.has-text-justified
                        |Again, as above, you can export the queries to a json file and then import in your
                        |new computer. It is recommneded to periodically export your queries and backup 
                        |to a safe place. You will loose your data if you accidentally uninstall the browser
                        |or clear browser data.

                section
                    .h1.is-size-3.has-text-justified 
                        |I did not use prosql for sometime. Now I cannot see my old queries!
                    p.has-text-justified
                        |By default only queries that you ran in last 10 days are visible. 
                        |If you want to view older queries, please search using keywords or tags

            .column	
        script(type='module' src='/#{root}/dist/js/help.js?ver=#{version}')
