doctype html
html
    head
        include head.pug
            link(rel="stylesheet" href="/#{root}/css/index.css?ver=#{version}")
    body
        section.section
            h1.is-size-1 Prosql
                sup alpha

        section.section
            h2.is-size-4 A fast, simple, cross-platform MySQL client that runs right in your browser!
            p
                a(href="/read-more") Read more

        section.section
            button#get-started.button Get Started!

        script(type='module' src='/#{root}/dist/js/index.js?ver=#{version}')

