doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/#{root}/css/install.css?ver=#{version}")
    body
        include navbar.pug
        .columns
            .column
            .column.is-two-fifths
                section
                    .card.has-background-light
                        header.card-header
                            p.card-header-title.has-text-black-bis
                                | prosql-agent not detected
                            span.card-header-icon
                                span.icon
                                    i.fas.fa-plug

                section.instructions.mt-5
                    .h1.is-size-3 Start the local agent

                    p.has-text-justified.mt-4
                        | ProSQL requires a small local agent running on your computer.
                        |  This agent was built during setup on your server.

                    p.has-text-justified.mt-4
                        | Download the correct binary for your operating system from your server
                        |  (located in <code>deploy/dist</code>), then run it.

                    section.mt-5
                        .tabs.is-fullwidth
                            ul
                                li.is-active
                                    a.windows Windows
                                li
                                    a.linux Linux
                                li
                                    a.mac Mac

                        .container
                            .tab-content.windows
                                pre
                                    code
                                        | agent-windows.exe
                                p.mt-2
                                    | Double-click to run, or execute from Command Prompt.

                            .tab-content.linux
                                pre
                                    code
                                        | chmod +x agent-linux
                                        | ./agent-linux
                                p.mt-2
                                    | Keep the terminal window open while using ProSQL.

                            .tab-content.mac
                                pre
                                    code
                                        | chmod +x agent-mac
                                        | ./agent-mac
                                p.mt-2
                                    | If macOS blocks it, allow it in System Settings → Security.

                    section.mt-5
                        p.has-text-justified
                            | Once the agent is running, refresh this page.

            .column
        script(type='module' src=`/${root}/dist/js/install.js?ver=${version}`)