- var ver = "0.4"
- var os = "mac"
| Open a terminal. Then do :#[br]
pre
    | $curl -L https://git.io/ctl-#{ver}-#{os} > prosqlctl.zip
    | $unzip prosqlctl.zip
    | $cd prosqlctl
    | $./prosqlctl -install

| You should see something like: #[br]
pre
    |Downloading release 0.6.4 .. Done.
    |Extracting files ..Done.
    |Copying agent to /Users/<user>/.prosql-agent
    |Creating plist ...
    |Starting ...
    |Cleaning up ..Done.
    |Installed successfully!
| #[br]
| To uninstall:
pre
    | $sudo ./prosqlctl -uninstall
| #[br]
| To update:
pre
    | $sudo ./prosqlctl -update
| #[br]
| To see all options:
pre
    | $./prosqlctl -help
