#navbar
    .logo
        a(href="/")
            img(src='/#{root}/images/icon.png', width="60", height="43.35")
    .email.is-hidden
        button.button.contact.is-pulled-right
            i.fas.fa-envelope
            span &nbsp;&nbsp;
            span kargirwar@protonmail.com
