nav.navbar(role='navigation' aria-label='main navigation')
    .navbar-brand
        a.navbar-item(href='/')
            h1.is-size-3 Prosql
                sup alpha
    .navbar-end
        .navbar-item
            button.button.is-hidden.contact
                span.icon
                    i.fas.fa-envelope
                span kargirwar@gmail.com
