- var ver = "0.6.4"
| You can build and run yourself!
pre
    | $curl -L https://tinyurl.com/src-v064 > prosql-agent.zip
    | $unzip prosql-agent.zip
    | $cd prosql-agent-#{ver} 
    | $go build -ldflags="-X 'main.VERSION=#{ver}' -X 'main.ALLOW=https://prosql.io' -X 'main.OS=other'"
|#[br]
|You will have to figure out how to daemonize prosql-agent on your system.
