#app-content
    #app-left-panel-container
        #app-left-panel
            div#query-history
                div Query History
                div 
                    i.fas.fa-file-import#import-file(title="Import query history")
                    i.fas.fa-file-export#download-history(title="Export query history")
            div.field#term-container
                p.control.has-icons-left
                    input.input#term-input(type="text")
                    span.icon.is-small.is-left
                        i.fas.fa-search

            div.field#tags-container
                p.control.has-icons-left
                    input.input#tags-input(type="text")
                    span.icon.is-small.is-left
                        i.fas.fa-search

            div#queries

    #app-content-resizer

    #app-right-panel
        #query-sub-menu
                i.fas.fa-paint-roller#format-query(title="Format query(Alt+Shift+T)")
                i.fas.fa-play#run-query(title="Run query(Alt+Shift+R)")
                i.fas.fa-tasks#run-all(title="Run all queries(Alt+Shift+A)")
                i.fas.fa-file-export#export-results(title="Export query results(Alt+Shift+E)")
                i.fas.fa-forward#next(title="Next rows(Alt+Shift+N)")
        #query-container
            #query-editor(contenteditable="true")
            #query-container-resizer
            #query-results

    script(type='code' id='results-header-col-template')
        th {heading}

    script(type='code' id='results-body-col-template')
        td
            div.td
                span {value}
                i.fk-ref.icon-new-tab(data-table="{ref-table}" data-column="{ref-column}")
        
    script(type='code' id='table-loader-template')
        div.table-loader
            i.fas.fa-spinner.fa-spin

    script(type='code' id='query-search-template')
        div#query-history
            div Query History
            div 
                i.fas.fa-download#download-history
        div.field
            p.control.has-icons-left
                input.input.is-small(type="text" id="query-filter" placeholder="Search queries")
                span.icon.is-small.is-left
                    i.fas.fa-search

        div.tags-input-container
            input.input.tags-input(type="text")

        div#queries

    script(type="code" id="dropdown-item-template")
        a.dropdown-item(href="#") {item}

    script(type='code' id='query-template')
        div.query.card(data-id="{id}")
            div 
                div.query-text(data-id="{id}") {query}
            div.timestamp {timestamp}
            div.tags(data-id="{id}")

    script(type="code" id="file-upload-template")
        .modal(id='{fu-id}')
            form(enctype='multipart/form-data' method='POST')
                input(type='file')

    script(type='code' id='tooltip-template')
        div.tooltip
            div.top
                pre
                    {query}
            div.bottom
                i.fas.fa-copy.copy-query(data-id="{id}")
