doctype html
html
    head
        include head.pug
        script(src="https://unpkg.com/@yaireo/tagify")
        script(src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js")
        link(href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="/#{root}/css/query.css?ver=#{version}")
        link(rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/svg-arrow.css")
    body
        include common.pug
        include appbar.pug
        include query-content.pug

        script(src="https://unpkg.com/@popperjs/core@2")
        script(src="https://unpkg.com/tippy.js@6")
        script(type='module' src='/#{root}/dist/js/query.js?ver=#{version}')
