doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/#{root}/css/pages.css?ver=#{version}")
    body
        include navbar.pug
        .columns
            .column	
            .column.is-three-fifths
                section
                    .content
                        .h3.is-size-3 Do we really need another MySQL client?
                        p.has-text-justified
                            |Absolutely! I have been working with MySQL for some time now and have been 
                            |utterly frustrated with the available clients. #[br]
                            |#[a(href="https://www.mysql.com/products/workbench/" target="_blank") Mysql Workbench], the offcial client is atrocious. I dread using it.#[br]
                            |#[a(href="https://dbeaver.io/" target="_blank") DBeaver] is better. But much too cluttered for my taste and loaded 
                            |with features which most users don't use on a day-to-day basis.#[br]
                            |#[a(href="https://www.navicat.com/en/" target="_blank") Navicat] is too expensive and yet it is not all that good.#[br] 
                            |#[a(href="https://www.phpmyadmin.net/" target="_blank") PHPMyAdmin] is decent, but not everyone has PHP or wants to use a PHP based 
                            |application. It is also not known to be very secure.#[br]
                            |There are a few others, but more or less it's the same story.#[br] #[br]
                            |That leaves #[a(href="https://sequelpro.com/" target="_blank") Sequel Pro] ..
                            |I love it! It is so simple, elegant and intuitive. A no-nonsense application like 
                            |every application should be! Alas! It too has some fatal flaws:#[br]
                            ul
                                li No support for MySQL 8.0
                                li Unstable. Crashes all the time
                                li Misses out on same basic features like query formatting
                                li Lastly, it works only on Mac
                            |It is safe to say prosql.io is an attempt to match or better Sequel Pro. In fact, the 
                            |name prosql is also inspired by it ;-)

                        .h3.is-size-3 But why a browser app.. why not build a native app?
                        p.has-text-justified
                            |We are in 2021. Computers and Operating Systems were invented decades back. Sadly,
                            |even today there is no painless way of developing cross platform applications.
                            |Browsers are the best way to deliver applications to users across platforms.#[br]
                            |Besides, browsers have a unique advantage: It is very easy to push bug fixes and
                            |new features to users!

                        .h3.is-size-3 Have you really explored all options ..say electron.js?
                        p.has-text-justified
                            |Don't get me started.. #[a(href="https://www.electronjs.org/" target="_blank") electron.js] wraps entire browser and node runtime into every 
                            |application. I shudder at the monstrosity. I don't want users to download 300MB
                            |applications which will use up half their RAM. Too clunky, too bloated, too resource
                            |intensive.#[br]
                            s
                                |#[a(href="https://flutter.dev/" target="_blank") Flutter Desktop] looks interesting..But it is taking forever to get into production.
                            span Too late :-( #[br]
                            |#[a(href="https://www.qt.io/" target="_blank") QT] has been around, but does not have native look and feel and it was 
                            |not very appetizing to work with QT.

                        .h3.is-size-3 What about Java?
                        p.has-text-justified
                            |Sure! If you like Java language, the look and feel of Java applications and are OK
                            |with users having to download JVM.. Not my cup of tea.

                        .h3.is-size-3 OK, so how does prosql work?
                        p.has-text-justified
                            |Think of it like a web app with your computer as the backend. An agent installed on your
                            |computer talks to the MySQL server and exposes REST APIs to the browser. 
                            |The agent is built in Go and works perfectly on all the major platforms.
                            |It is also very light on resources.

                        .h3.is-size-3 What about performance? Can it match native clients?
                        p.has-text-justified
                            |Yes! I have done some benchmarks. The Go client's performance is comparable to official MySQL
                            |C client. So that leaves the overhead of communication with the browsers. This is of the 
                            |order of a few milliseconds per request. Not at all significant.

                        .h3.is-size-3 Is it secure?
                        p.has-text-justified
                            |The application works if and only if the agent is installed on your computer
                            |and it cannot be accessed remotely. Don't worry! Hackers will not be able to 
                            |access your MySQL server!

                        .h3.is-size-3 Which browsers are supported?
                        p.has-text-justified
                            |Latest versions of Chrome, Firefox, Opera and Edge are supported. Safari is #[i not] supported.
                            |#[br]
                            u Firefox is recommended on Macs.

                        .h3.is-size-3 What is the project status?
                        p.has-text-justified
                            |Beta. There are no known major functional bugs. UI does have some glitches. Will keep 
                            |improving with user feedback.

                        .h3.is-size-3 Is it free?
                        p.has-text-justified
                            |For now. I will have to charge a nominal fee later on to keep it going.
                            |In any case all beta users will get free lifetime access! 
                            |So go ahead, make it a part of your toolbox!

                        p.is-size-4
                            |Enough said. Lets get #[a(href="/connections") started!]
            .column	
