.modal#table-info-dialog
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.is-size-6
        section.modal-card-body
        footer.modal-card-foot
            button.button.is-success.ok OK
            button.button.cancel Cancel
