:go:func About(root string, rev string)

- var css = "/static/" + root + "/css/pages.css?rev=" + rev;
- var js = "/static/" + root + "/dist/js/about.js?rev=" + rev;

doctype html
html
    head
        include head.jade
        link(rel="stylesheet" href= css)
    body
        include navbar.jade
        .columns
            .column	
            .column.is-two-fifths
                section
                    .content
                        .h1.is-size-3 About
                        ul
                            li prosql-agent version:&nbsp
                                span#agent-version&nbsp0.6
                        .h2.is-size-5.is-info#update-notice.is-hidden
                
                section
                    br
                    .h1.is-size-3 Installation and updation
                    .tabs.is-fullwidth
                        ul
                            li.is-active
                                a.windows Windows
                            li
                                a.linux Linux
                            li
                                a.mac Mac
                            li
                                a.other Other
                    .container
                        .tab-content.windows.has-text-justified
                            include windows.jade
                        .tab-content.linux.has-text-justified
                            include linux.jade
                        .tab-content.mac.has-text-justified
                            include mac.jade
                        .tab-content.other.has-text-justified
                            include other.jade
                section
                    br
                    .h1.is-size-3 Supported browsers
                    ul
                        li Latest versions of Chrome, Firefox, Opera and Edge are supported. Safari is not supported.
            .column	

        script(type='module' src= js)
