:go:func Connections_User(root string, rev string)

- var css = "/static/" + root + "/css/connections.css?rev=" + rev;
- var js = "/static/" + root + "/dist/js/connections.js?rev=" + rev;

doctype html
html
    head
        include head.jade
        link(rel="stylesheet" href= css)
    body
        include navbar.jade
        div#container.content
            div#left-container
                #recents-title
                    span Recent Connections
                    #conn-list
            div#right-container
                include connections-form.jade
                div#btn-container-user
                    button.button(id="test")
                        span Test connection
                        span.icon.is-small
                            i.test-icon.fas

                    button.button(id="login").is-full-width
                        span Start session

                div#signout-container
                    br
                    span 
                        a(href="/signout") Signout

        input#rev(type="hidden" value= rev)

        script(type='module' src= js)
        script(type='code' id='conn-template')
            .conn-container
                div.conn
                    i.fas.fa-server.server-icon
                div.conn.has-text-left(data-id="{id}") &nbsp;&nbsp;{item}
                div
                    i.fas.fa-trash.del-conn(data-id="{id}")
