:go:func Index(root string, rev string)

- var css = "/static/" + root + "/css/index.css?rev=" + rev;
- var js = "/static/" + root + "/dist/js/index.js?rev=" + rev;

doctype html
html
    head
        include head.jade
            link(rel="stylesheet" href= css)
    body
        section.section
            .full-logo
                img(src='/static/images/logo.png', width="292.4", height="55.6")
                div.superscript beta

        section.section
            h2.is-size-4 A fast, simple, cross-platform MySQL client that runs right in your browser!
            p
                a(href="/read-more") Read more

        section.section
            button#get-started.button.is-primary Get Started!

        script(type='module' src= js)

